<!DOCTYPE html>
{% extends 'base/base.html' %}

{% block title %}
    Enlaces de interes
{% endblock %}

{% block content %}

            <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Facial Expression Recognition</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Inicio
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Descripcion">Descripcion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/resultados">Resultados</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Enlaces de interes</a>
                <span class="sr-only">(current)</span>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Enlaces
      </h1>

      <div class="row">
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="https://codigofacilito.com/cursos/flask"><img class="card-img-top" src="{{ url_for('static', filename='Imagenes/flaskcf.jpg') }}" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="https://codigofacilito.com/cursos/flask">Curso Flask - Codigo facilito</a>
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="http://www.falconmasters.com/cursos/curso-de-html-basico/curso-html-basico/"><img class="card-img-top" src="{{ url_for('static', filename='Imagenes/curso-html.jpg') }}" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="http://www.falconmasters.com/cursos/curso-de-html-basico/curso-html-basico/">Curso de HTML - Falcon masters</a>
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="https://pythonprogramming.net/sql-database-python-part-1-inserting-database/"><img class="card-img-top" src="{{ url_for('static', filename='Imagenes/sqli.jpg') }}" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="https://pythonprogramming.net/sql-database-python-part-1-inserting-database/">Curso Sqlite - PythonProgramming</a>
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="http://www.dataschool.io/machine-learning-with-scikit-learn/"><img class="card-img-top" src="{{ url_for('static', filename='Imagenes/DS_FINAL.png') }}" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="http://www.dataschool.io/machine-learning-with-scikit-learn/">Curso machine learning en Python con scikit-learn - Data School</a>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>

            <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Semillero de investigación en inteligencia artificial Universidad EAFIT</p>
      </div>
      <!-- /.container -->
    </footer>

{% endblock %}
