<!DOCTYPE html>
{% extends 'base/base.html' %}


{% block title %}
Try it
{% endblock %}

{% block content %}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Facial Expression Recognition</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tryIt">Try it</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->

<h2> You can upload an image from your computer.. </h2>
<div class="container"style="display:flex;justify-content:center;align-items:center;">

    <br />
    <br />
    <br />
    <br />

        <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
            <input class="button" type="file" name="file" accept="image/*" multiple>

            </br>

            <input type="submit" value="Upload">
        </form>

</div>
<br>
<h2> Or take one right now!! </h2>
<div class="container"style="display:flex;justify-content:center;align-items:center;">

        <div class="booth">
            <video id="video" width="380" height="300"></video>
            <a href="#" id="capture" class="boot-capture-button"> Take photo </a>
            <canvas id="canvas" width="400" height="300"></canvas>
            <img id="photo" src= "https://scontent.feoh6-1.fna.fbcdn.net/v/t1.0-9/47441256_942104325984469_7365352421347819520_n.jpg?_nc_cat=102&_nc_ht=scontent.feoh6-1.fna&oh=943f844e4ebf138b96815b1918c8a1db&oe=5C9B3A6F"
                width="380"
                height="300"
                alt="Your photo">
        </div>
    
</div>

<script src="../static/JS/photo.js"></script>




<br />
<br />
<br />
<br />

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Semillero de investigación en inteligencia artificial Universidad EAFIT</p>
    </div>
    <!-- /.container -->
</footer>



{% endblock %}